{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block title %}Snowtrick{% endblock %}

{% block body %}

    <h1>Hello World !</h1>

{% endblock %}
