#homepage {
  @keyframes example {
    0%   {
      bottom: 0;
    }
    50%  {
      bottom: 3px;
    }
    100% {
      bottom: 0;
    }
  }
  .hero {
    width: 100%;
    height: 500px;
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    a {
      position: absolute;
      right: 20px;
      bottom: 4px;
      color: white;
      font-size: 30px;
      animation-name: example;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }

  .grid-section {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    padding-top: 10px;
    .trick-item {
      padding-bottom: 0px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      a {
        img {
          width: 100%;
          height: 200px;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }
      }
      .info-trick {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 0 20px;
        .name-trick {
          font-weight: 500;
          font-style: italic;
        }
        .action-trick {
          a:first-child {
            margin-right: 10px;
          }
          a {
            font-size: 18px;
            color: black;
          }
        }
      }

      a:hover {
        opacity: 0.8;
      }
    }
  }
  .arrow-up {
    color: black;
    font-size: 30px;
    margin-bottom: 70px; /* Remove en prod */
    display: flex;
    justify-content: end;
  }
}

@media (max-width: 767px) {
  #homepage {
    .hero {
      height: 300px;
    }
    .grid-section {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}