{% extends "base.html.twig" %}

{% block title %}{{ trick.title }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div id="show-trick">
        
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}